[Unit]
Description=Run Scripts at Start and Stop
After=network.target nss-lookup.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/home/ec2-user/svc/startup
ExecStop=/home/ec2-user/svc/shutdown

[Install]
WantedBy=multi-user.target
